.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse-header {
  .ant-collapse-header-text {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .ant-collapse-expand-icon {
    font-size: 1.1rem;
  }
}
