::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e0dfdf;
}
